* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
button,
input {
  font-family: -apple-system, Ubuntu, Arial, sans-serif;
}

*,
li {
  list-style: none;
}
html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #ff0000;
}
.animate-before {
  -webkit-transform: translateY(40px);
  transform: translateY(40px);
  opacity: 0;
  pointer-events: none;
}

.animate-after {
  -webkit-transform: translateY(-40px);
  transform: translateY(-40px);
  opacity: 0;
  pointer-events: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 15px 28px 15px 24px;
}

header h3 {
  color: #e60023;
  font-size: 20px;
  font-weight: 700;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

header nav ul li {
  padding: 16px;
}

header nav ul li a {
  text-decoration: none;
  font-size: 16px;
  color: #111;
  font-weight: 700;
}

header nav ul li a:hover {
  text-decoration: underline;
}

header nav .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 24px;
}

header nav .buttons button {
  font-size: 16px;
  font-weight: 700;
  padding: 11px 12px;
  border-radius: 24px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

header nav .buttons .login {
  color: #fff;
  background: #e60023;
}

header nav .buttons .signup {
  margin-left: 16px;
  background: #efefef;
}
.arrow-up {
  font-size: 37px;
  color: white;
}
.arrow-down {
  font-size: 37px;
  color: white;
}
.button-arrow-up {
  border: none;
  padding: 10px;
  outline: none;
  background-color: rgba(10, 10, 10, 0.637);
  backdrop-filter: blur(10px);
  border-radius: 50%;
  cursor: pointer;
  animation: downup 2s ease;
  position: absolute;
  top: 20px;
  left: 50%;
  animation-iteration-count: infinite;
}
.button-arrow-down {
  border: none;
  padding: 10px;
  outline: none;
  background-color: rgba(10, 10, 10, 0.637);
  backdrop-filter: blur(10px);
  border-radius: 50%;
  cursor: pointer;
  animation: updown 1s ease;
  position: absolute;
  bottom: 20px;
  left: 50%;
  animation-iteration-count: infinite;
}
@keyframes updown {
  0% {
    bottom: 10px;
  }
  50% {
    bottom: 20px;
  }
  100% {
    bottom: 10px;
  }
}
@keyframes downup {
  0% {
    top: 10px;
  }
  50% {
    top: 20px;
  }
  100% {
    top: 10px;
  }
}
.d-none {
  animation: opacity 2.5s ease;
  transition: 2.5s ease;
}
.dinone {
  animation: disappear 1s ease;
  background-color: transparent;
  transition: 0.5s;
  visibility: hidden;
}
.colored {
  background-color: rgb(93, 103, 192) !important;
}
.unauth-homepage-conversion-modal {
  transition: 0.25s ease;
  background-color: rgb(255, 255, 255);
  border-radius: 32px;
  position: relative;
  text-align: center;
  width: 444px;
  margin: auto 0px auto 4%;
  min-height: initial;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 2px 10px;
  padding-bottom: 25px;
}
.button-red {
  width: 98%;
  padding: 13px;
  height: auto;
  background: #c00644;
  position: relative;
  background: #e4092e;
  margin-bottom: 25px;
  border-radius: 32px;
  text-align: center;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.facebook {
  position: absolute;
  top: -10px;
  left: -40px;
  color: white;
  font-size: 30px;
}
.button-blue {
  width: 98%;
  padding: 13px;
  height: 45px;
  background: #087cea;
  position: relative;

  border-radius: 32px;
  text-align: center;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.button-blue span {
  position: absolute;
  top: 16px;
  right: 25px;
  line-height: 10px;
  font-family: "Montserrat", sans-serif;

  font-weight: bold;
}
.button-blue {
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
    6px 6px 10px rgba(0, 0, 0, 0.2);
  color: #ffffff;
}
.button-blue:hover {
  opacity: 1;
  box-shadow: -1px 0px 10px rgb(2 2 2 / 32%), 6px 6px 10px rgb(0 0 0 / 20%);
}
.button-blue:active {
  opacity: 1;
  box-shadow: inset 0px 0px 17px 3px rgb(1 6 51 / 51%),
    inset 0px 0px 20px rgb(0 0 0 / 10%);
  color: #d5e7e0;
}

.business-acc {
  height: 63px;
  background-color: rgba(128, 128, 128, 0.158);
  width: 100%;
  font-weight: bold;
  position: absolute;
  bottom: 0px;
  text-align: center;
  padding-top: 22px;
  border-radius: 0px 0px 30px 30px;
}
.button-red span {
  line-height: 10px;
  font-family: "Montserrat", sans-serif;

  font-weight: bold;
}
.button-red {
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
    6px 6px 10px rgba(0, 0, 0, 0.2);
  color: #ffffff;
}
.button-red:hover {
  opacity: 1;
  box-shadow: -1px 0px 10px rgb(2 2 2 / 32%), 6px 6px 10px rgb(0 0 0 / 20%);
}
.button-red:active {
  opacity: 1;
  box-shadow: inset 0px 0px 20px rgb(148, 3, 3);
  color: #d5e7e0;
}
.button {
  width: 98%;
  padding: 13px;
  height: auto;
  background: #f3f0f1;
  position: relative;
  background: #f3f0f1;
  margin-bottom: 25px;
  border-radius: 32px;
  text-align: center;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.button span {
  line-height: 10px;
  font-family: "Montserrat", sans-serif;

  font-weight: bold;
}
.button {
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
    6px 6px 10px rgba(0, 0, 0, 0.2);
  color: #6f6cde;
}
.button:hover {
  opacity: 1;
  box-shadow: -1px 0px 10px rgb(2 2 2 / 32%), 6px 6px 10px rgb(0 0 0 / 20%);
}
.button:active {
  opacity: 1;
  box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5),
    inset 8px 8px 16px rgba(0, 0, 0, 0.1);
  color: #79e3b6;
}
.input-signup {
  width: 98%;
  border-color: rgba(128, 128, 128, 0.13);
  outline: none;
  padding: 13px;
  border-radius: 15px;
  margin-bottom: 7px;
}
.unauth-homepage-conversion-modal:hover {
  box-shadow: rgb(0 0 0) -20px 18px 15px 0px;
  margin-left: 85px;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes disappear {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.heading {
  margin-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.heading .text {
  font-size: 60px;
  font-weight: 600;
}

.heading .wrapper {
  position: relative;
}

.heading .wrapper .offset {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.heading .wrapper .text {
  white-space: nowrap;
  color: #e60023;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}

.grid-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (252px) [7];
  grid-template-columns: repeat(7, 252px);
  max-height: 0px;
  visibility: hidden;
  pointer-events: none;
}

.grid.active {
  max-height: unset;
  visibility: visible;
  pointer-events: auto;
}

.column {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: 1s;
  transition: 1s;
}

.column:nth-child(1) {
  margin-top: 0;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.column:nth-child(2) {
  margin-top: 160px;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.column:nth-child(3) {
  margin-top: 320px;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.column:nth-child(4) {
  margin-top: 480px;
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}

.column:nth-child(5) {
  margin-top: 320px;
  -webkit-transition-delay: 0.8s;
  transition-delay: 0.8s;
}

.column:nth-child(6) {
  margin-top: 160px;
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
}

.column:nth-child(7) {
  margin-top: 0;
  -webkit-transition-delay: 1.2s;
  transition-delay: 1.2s;
}

.item {
  width: 236px;
  height: 350px;
  background: #e60023;
  border-radius: 10px;
}

.item:not(:first-child) {
  margin-top: 16px;
}
/*# sourceMappingURL=styles.css.map */
